@font-face {
	font-family: 'Open Sans Bold';
	src: url('..font/OpenSans-Bold.ttf')
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('..font/OpenSans-Light.ttf')
}
@font-face {
	font-family: 'Open Sans Regular';
	src: url('..font/OpenSans-Regular.ttf')
}
@font-face {
	font-family: 'Open Sans Semibold';
	src: url('..font/OpenSans-Semibold.ttf')
}